{{ 'section-text-with-image.css' | asset_url | stylesheet_tag }}

<div class="text-with-image">
  <div class="text-with-image__image-wrapper">
    {%- if section.settings.image != blank -%}  
      <picture>
        <source media="(min-width: 768px)" srcset="{{ section.settings.image | image_url: width: 2000 }}">
        <img src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ section.settings.image.alt }}" class="text-with-image__image" />
      </picture>
    {%- else -%}
      {{ 'image' | placeholder_svg_tag }}  
    {%- endif -%}
  </div>
  <div class="text-with-image__content-container">
    <div class="text-with-image__content-wrapper">
      {%- if section.settings.title != blank -%}
        <h2 class="text-with-image__title">{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.copy != blank -%}
        <div class="text-with-image__copy">{{ section.settings.copy }}</div>
      {%- endif -%}
      {%- if section.settings.cta_text != blank and section.settings.cta_url != blank -%}
        <a href="{{ section.settings.cta_url }}" class="text-with-image__cta">{{ section.settings.cta_text }}</a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.text-with-image.name",
    "class": "text-with-image-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.text-with-image.settings.image.label"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.text-with-image.settings.title.label"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "t:sections.text-with-image.settings.copy.label"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "t:sections.text-with-image.settings.cta_text.label"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "t:sections.text-with-image.settings.cta_url.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.text-with-image.presets.name"
      }
    ]
  }
{% endschema %}